<!-- Reusable Navbar Component -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top" id="mainNavbar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="main.html">
      <img src="images/MIIT_Logo.png" alt="MIIT Logo" width="50" height="50" class="me-2" id="miitLogo" />
      <strong class="navbar-title">Myanmar Institute of Information Technology</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown-hover">
          <a class="nav-link" href="main.html">Home</a>
        </li>
        <li class="nav-item dropdown-hover">
          <a class="nav-link" href="#">About</a>
          <div class="hover-card">
            <div class="card">
              <div class="card-body">
                <ul>
                  <li><a href="history.html">History</a></li>
                  <li><a href="./vision-mission.html">Vision & Mission</a></li>
                  <li><a href="./contact-us.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown-hover">
          <a class="nav-link" href="admission.html">Admission</a>
        </li>
        <li class="nav-item dropdown-hover">
          <a class="nav-link" href="#">Academic</a>
          <div class="hover-card">
            <div class="card">
              <div class="card-body">
                <ul>
                  <li><a href="./academic-calendar.html">Academic Calendar</a></li>
                  <li><a href="./academic-programs.html">Academic Programs</a></li>
                  <li><a href="./academic-rules.html">Academic Rules</a></li>
                  <li><a href="./lms-moodle.html">LMS Moodle</a></li>
                  <li><a href="./student-registration.html">Student Registration</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown-hover">
          <a class="nav-link" href="faculties.html">Faculties</a>
        </li>
        <li class="nav-item dropdown-hover">
          <a class="nav-link" href="library.html">Library</a>
          <div class="hover-card">
            <div class="card">
              <div class="card-body">
                <ul>
                  <li><a href="library.html#digital-design">Digital Design</a></li>
                  <li><a href="library.html#control-system">Control System</a></li>
                  <li><a href="library.html#computer-architecture">Computer Architecture</a></li>
                  <li><a href="library.html#data-structures">Data Structures & Algorithms</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown-hover">
          <a class="nav-link" href="./Collaboration1.html">Collaboration</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Push content down because navbar is fixed -->
<div style="height: 70px;"></div>